.avatar-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.avatar-list .create-avatar {
  transition: ease-in-out 0.1s;
  opacity: 0.8;
}

.avatar-list .create-avatar:hover {
  cursor: pointer;
  opacity: 1;
}