.avatar-container {
    text-align: center;
    margin: 20px 0 40px;
}

.avatar-text {
    color: var(--sky-blue);
    transition: ease-in-out 0.2s;
    line-height: 1.5;
}

.avatar-text:hover {
    color: var(--sky-blue-tint);
    cursor: pointer;
}